In [ ]:
import numpy as np
import pandas as pd
array_2d = np.random.randint(50,100,size=(50,5))
df1 = pd.DataFrame(array_2d,
                   columns=['國文','英文','數學','社會','自然'],
                   index = [f'{num}號' for num in range(1,51)])
df1

In [ ]:
#各學生總分
total_se = df1['國文'] + df1['英文'] + df1['數學'] + df1['社會'] + df1['自然']

In [ ]:
#各學生平均
average_se = total_se / 5
average_se

In [ ]:
#新增欄位
df1['總分'] = total_se
df1['平均'] = average_se
df1

In [ ]:
#Series使用比較運算子
df1['總分'] >= 400

In [ ]:
#dataFrame使用subscript,搜尋資料
#dataFrame[bool Series]
#可將符合條件的保留
df1[df1['總分'] >= 400]

In [13]:
#查詢國文95分以上的學生
df1[df1['國文'] >= 95]

     國文  英文  數學  社會  自然   總分    平均
12號  99  61  97  61  91  409  81.8
19號  98  60  71  68  60  357  71.4
21號  98  51  91  69  84  393  78.6
23號  97  52  88  77  95  409  81.8
35號  97  98  61  69  99  424  84.8
42號  95  65  68  53  58  339  67.8