In [ ]:
#list comprehension = 快速建立list
[f'{num}號' for num in range(1,51)]

In [ ]:
import numpy as np
import pandas as pd
array_2d = np.random.randint(50,100,size=(50,5))
df1 = pd.DataFrame(array_2d,
                   columns=['國文','英文','數學','社會','自然'],
                   index = [f'{num}號' for num in range(1,51)])
df1

In [ ]:
#從dateFrame取出ndarray
df1.values

In [ ]:
#dataFrame[欄位名稱] subscript
df1['國文'], df1['英文']

In [ ]:
#Series的選取 使用subscript
#Series[述職的index]
df1['國文'][0]
#Series[述職的slice]
df1['國文'][:5]
#Series[字串的index]
df1['國文']['1號']
#Series[[字串,字串,字串]
df1['國文'][['1號','2號','3號']]

In [ ]:
#dataFrame的subscripts
#dataFrame[欄位名稱]
df1['國文']

In [ ]:
#dataFrame的subscripts
#dataFrame[[欄位名稱,欄位名稱]]
df1[['國文','英文']]

In [ ]:
#dataFrame的列的選取
#loc['字串']
#iloc[數值]

In [ ]:
#選取1號資料
#loc['字串']
df1.loc['1號']

In [ ]:
#選取1號,2號,3號資料
#loc['字串','字串']
df1.loc[['1號','2號','3號']]

In [35]:
#選取前5位資料
#iloc[index:index]
df1.iloc[:5]

    國文  英文  數學  社會  自然
1號  69  65  92  75  59
2號  55  62  77  56  92
3號  68  70  87  68  96
4號  82  56  95  73  75
5號  93  66  81  65  80

In [34]:
#選取後5位資料
#iloc[index:index]
df1.iloc[-5:]

     國文  英文  數學  社會  自然
46號  93  95  72  81  68
47號  52  60  78  84  81
48號  90  77  79  87  72
49號  60  83  71  77  92
50號  55  73  50  50  59