In [90]:
import numpy as np
import pandas as pd

scores = pd.DataFrame(np.random.randint(50,101,size=(50,5)),
             columns=['國文', '英文', '數學', '地理', '歷史'],
             index=range(1,51))
scores

    國文  英文   數學  地理   歷史
1   88  86   67  52   98
2   61  85   70  53   62
3   65  93   87  80   68
4   76  84   83  69   65
5   85  98   95  72   98
6   78  54   82  66   66
7   99  50   85  55   66
8   55  77   75  82   65
9   51  88   53  95   85
10  78  60   91  83   50
11  53  85   90  59   58
12  80  74   76  84  100
13  69  68   70  65   60
14  89  65   79  62   81
15  69  81   83  75   50
16  91  69   60  59   82
17  91  98   79  81   79
18  72  68   50  71   75
19  74  85   83  97   71
20  94  90   81  93   77
21  61  98  100  96   68
22  66  95   96  66   88
23  80  69   91  85   69
24  90  67   69  60   86
25  53  98   58  75   82
26  67  88   63  65   90
27  81  77   65  93   69
28  56  89   52  74   56
29  83  95   65  92   89
30  67  97   88  71   67
31  97  96   82  64   55
32  83  96   52  65   78
33  58  65   87  75   55
34  90  93   56  52   93
35  63  61   97  99   63
36  64  57   72  83   67
37  74  87   98  96   67
38  90  63   87  61   72
39  58  72   91  68   58
40  63  73   56  82   63
41  93  88   57  80   88
42  85  91   75  84   61
43  82  77   59  56   92
44  51  74   68  99   58
45  69  87   93  85   56
46  55  85   82  99   62
47  86  69   69  54   96
48  73  51  100  96   89
49  87  65   58  93   90
50  69  82   78  94   73

In [91]:
def abc(s): #印出各科最高分
    return s.max()
scores.apply(abc)

國文     99
英文     98
數學    100
地理     99
歷史    100
dtype: int64

In [92]:
def abc(s): #印出個哥最低 最高 平均
    return pd.Series([s.min(),s.max(),s.mean()],index=['最低分','最高分','平均'])
scores.apply(abc)

        國文     英文      數學    地理      歷史
最低分  51.00  50.00   50.00  52.0   50.00
最高分  99.00  98.00  100.00  99.0  100.00
平均   74.24  79.26   76.06  76.3   73.12

In [93]:
scores.index = scores.index.map(lambda i:f'{i}號')
scores  #將表單編號

     國文  英文   數學  地理   歷史
1號   88  86   67  52   98
2號   61  85   70  53   62
3號   65  93   87  80   68
4號   76  84   83  69   65
5號   85  98   95  72   98
6號   78  54   82  66   66
7號   99  50   85  55   66
8號   55  77   75  82   65
9號   51  88   53  95   85
10號  78  60   91  83   50
11號  53  85   90  59   58
12號  80  74   76  84  100
13號  69  68   70  65   60
14號  89  65   79  62   81
15號  69  81   83  75   50
16號  91  69   60  59   82
17號  91  98   79  81   79
18號  72  68   50  71   75
19號  74  85   83  97   71
20號  94  90   81  93   77
21號  61  98  100  96   68
22號  66  95   96  66   88
23號  80  69   91  85   69
24號  90  67   69  60   86
25號  53  98   58  75   82
26號  67  88   63  65   90
27號  81  77   65  93   69
28號  56  89   52  74   56
29號  83  95   65  92   89
30號  67  97   88  71   67
31號  97  96   82  64   55
32號  83  96   52  65   78
33號  58  65   87  75   55
34號  90  93   56  52   93
35號  63  61   97  99   63
36號  64  57   72  83   67
37號  74  87   98  96   67
38號  90  63   87  61   72
39號  58  72   91  68   58
40號  63  73   56  82   63
41號  93  88   57  80   88
42號  85  91   75  84   61
43號  82  77   59  56   92
44號  51  74   68  99   58
45號  69  87   93  85   56
46號  55  85   82  99   62
47號  86  69   69  54   96
48號  73  51  100  96   89
49號  87  65   58  93   90
50號  69  82   78  94   73

In [94]:
def abc1(item):
    less_student = one_student[one_student < 60]
    less_cout = less_student.count()
    less_str = ",".join(less_student.index.values.tolist())
    return pd.Series([item.sum(),item.mean()],index=['總分','平均'])
scores.apply(abc1,axis=1)   #將表單成員依序印出總分與平均

        總分    平均
1號   391.0  78.2
2號   331.0  66.2
3號   393.0  78.6
4號   377.0  75.4
5號   448.0  89.6
6號   346.0  69.2
7號   355.0  71.0
8號   354.0  70.8
9號   372.0  74.4
10號  362.0  72.4
11號  345.0  69.0
12號  414.0  82.8
13號  332.0  66.4
14號  376.0  75.2
15號  358.0  71.6
16號  361.0  72.2
17號  428.0  85.6
18號  336.0  67.2
19號  410.0  82.0
20號  435.0  87.0
21號  423.0  84.6
22號  411.0  82.2
23號  394.0  78.8
24號  372.0  74.4
25號  366.0  73.2
26號  373.0  74.6
27號  385.0  77.0
28號  327.0  65.4
29號  424.0  84.8
30號  390.0  78.0
31號  394.0  78.8
32號  374.0  74.8
33號  340.0  68.0
34號  384.0  76.8
35號  383.0  76.6
36號  343.0  68.6
37號  422.0  84.4
38號  373.0  74.6
39號  347.0  69.4
40號  337.0  67.4
41號  406.0  81.2
42號  396.0  79.2
43號  366.0  73.2
44號  350.0  70.0
45號  390.0  78.0
46號  383.0  76.6
47號  374.0  74.8
48號  409.0  81.8
49號  393.0  78.6
50號  396.0  79.2

In [102]:
one_student = scores.iloc[0]
less_student = one_student[one_student < 60]
less_student

地理    52
Name: 1號, dtype: int64

In [103]:
less_student.count()
",".join(less_student.index.values.tolist())

'地理'